!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv': 'X-UA-Compatible', content: 'IE=edge, chrome=1'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: 'A dashboard with various tracked things'}
    %title= "Tracking #{@title || 'things'}"
    %link{rel: 'icon', href: '/favicon.png'}
    %link{rel: 'stylesheet', href: 'https://cdn.jsdelivr.net/combine/npm/bootstrap@4/dist/css/bootstrap.min.css,npm/metrics-graphics@2/dist/metricsgraphics.css'}
    %link{rel: 'stylesheet', href: '/style.css'}
  %body.bg-light
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      %a.navbar-brand{href: '/'} Track
      %div.navbar-nav.ml-auto
        - if @user
          - if @thing
            %a.nav-item.nav-link{href: "/@#{@user[:name]}"}
              = '@'
              = pretty_name @user[:name]
            %a.nav-item.nav-link.active{href: "/@#{@user[:name]}/#{@thing[:name]}"}
              = '/'
              = pretty_name @thing[:name]
          - else
            %a.nav-item.nav-link.active{href: "/@#{@user[:name]}"}
              = '@'
              = pretty_name @user[:name]

    %main.container.my-4= yield
    %script{defer: true, src: 'https://cdn.jsdelivr.net/combine/npm/d3@5,npm/metrics-graphics@2'}
    %script{defer: true, src: '/script.js'}
